{% extends 'ARVBlogBundle::blog.html.twig' %}

{% block body %}
    {{ parent() }}

    <h1>Modification d'un article</h1>

    {% include 'ARVBlogBundle:Article:form.html.twig' with {'form': edit_form} %}

    <ul>
        <li>
            <a href="{{ path('arv_blog_article_manage') }}">
                Retour à la liste des articles
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
