{% extends 'ARVBlogBundle::blog.html.twig' %}

{% block body %}
    {{ parent() }}

    {% include 'ARVBlogBundle:Article:form.html.twig' with {'form': form} %}

    <ul class="record_actions">
        <li>
            <a href="{{ path('article') }}">
                Back to the list
            </a>
        </li>
    </ul>

{% endblock %}