{% extends 'ARVBlogBundle::blog.html.twig' %}

{% block body %}
    {{ parent() }}
    <h1>Comment edit</h1>

    {% include 'ARVBlogBundle:Comment:form.html.twig' with {'form': edit_form} %}

    <ul>
        <li>
            <a href="{{ path('arv_blog_comment') }}">
                Retour à la liste
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
