{% extends 'ARVBlogBundle::blog.html.twig' %}

{% block body %}
    {{ parent() }}
    <h1>Ecrire un commentaire</h1>

    {% include 'ARVBlogBundle:Comment:form.html.twig' with {'form': form} %}

    <ul>
        <li>
            <a href="{{ path('arv_blog_comment_manage') }}">
                Retour à la liste
            </a>
        </li>
    </ul>
{% endblock %}
