{% extends 'ARVBlogBundle::blog.html.twig' %}

{% block body %}
    {{ parent() }}

    <h1>Modifier un tag</h1>

    {% include 'ARVBlogBundle:Comment:form.html.twig' with {'form': edit_form} %}

    <ul>
        <li>
            <a href="{{ path('arv_blog_tag') }}">
                Retour à la liste
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
